.dropdown {
  display: flex;
}

.dropdown .dropdown__button {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #212b35;
}

.dropdown .dropdown__button:hover .dropdown__button-text {
  color: #606dc5;
}

.dropdown .dropdown__button:hover .icon {
  fill: #606dc5;
  stroke: #606dc5;
}

.dropdown .dropdown__button > * {
  pointer-events: none;
}

.dropdown .icon {
  width: 0.85rem;
  padding: 10px 15px;
}

.dropdown .dropdown__button-text {
  position: relative;
  padding-left: 30px;
  font-family: 'Helvetica Neue Light', sans-serif;
  color: #232d37;
}

.dropdown .dropdown__button-text:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid #606dc5;
  border-radius: 50%;
}
