.side-menu {
  position: relative;
  display: flex;
  width: 235px;
  align-items: stretch;
  flex-direction: column;
  background-color: #ffffff;
}

@media (max-width: 620px) {
  .side-menu {
    width: 150px;
  }
}
