.side-menu {
  position: sticky;
  left: 0;
  display: flex;
  width: 235px;
  align-items: stretch;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 40;
}

@media (max-width: 620px) {
  .side-menu {
    width: 80px;
  }
}
