.device-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 20px;
  border-bottom: 1px solid #cccccc;
  z-index: 10;
  background-color: #ffffff;
  overflow-y: auto;
}

.device-menu .device-menu__button {
  padding: 7px 12px;
}

.device-menu .device-menu__button--active svg {
  fill: #606dc5;
  stroke: #606dc5;
}
