.next-form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 0;
  background-color: #f4f6f8;
}

.next-form-button .next-form-button__col {
  display: flex;
  align-items: center;
}

.next-form-button .next-form-button__col:first-child {
  flex-grow: 2;
  flex-basis: 0;
  justify-content: flex-end;
}

.next-form-button .next-form-button__col:nth-child(2) {
  flex-grow: 0;
  flex-basis: 0;
  justify-content: center;
  margin-left: 2px;
}

.next-form-button .next-form-button__col:last-child {
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
}

.next-form-button .next-form-button__logo {
  padding-top: 5px;
  padding-bottom: 5px;
}

.next-form-button .icon {
  width: 1.125rem;
  height: 1.125rem;
  fill: #ffffff;
  stroke: #ffffff;
}

.next-form-button.button--primary:hover {
  color: #ffffff;
  background-color: #6f7bc6;
}

@media (max-width: 620px) {
  .next-form-button {
    min-width: 80px;
    padding: 20px 16px;
  }

  .next-form-button .next-form-button__col:first-child {
    flex-grow: 0;
    display: none;
    margin-right: 8px;
  }

  .next-form-button .next-form-button__col:last-child {
    flex-grow: 0;
    flex-basis: 0;
  }
}
